<% sidebar = SARAH.PortalManager.SIDEBAR %>
<% layout('/layout/layout.ejs') -%>
<% script('/liveboxremote/www/js/liveboxremote.js'); %>
<% stylesheet('/liveboxremote/www/less/liveboxremote.css'); %>

<h1><%- i18n('plugin.LiveboxRemote.hello') -%></h1>

<div id="liveboxremote">
  <a href="#" class="LiveboxRemote"><%- i18n('plugin.LiveboxRemote.world') -%></a>
</div>